<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <configSections>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->

  <section name="log4net"
    type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>


 </configSections>
 <connectionStrings>
  <add name="JBContext" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=JBTestLocalDb;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\JBTestLocalDb.mdf;Pooling=false"
       providerName="System.Data.SqlClient" />
 </connectionStrings>

 <log4net>
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
   <layout type="log4net.Layout.PatternLayout">
    <conversionPattern value="%date [%thread] %-5level %logger [%ndc] 
    - %message%newline"/>
   </layout>
  </appender>

  <root>
   <level value="DEBUG"/>
   <!--<appender-ref ref="FileAppender"/>-->
   <appender-ref ref="ConsoleAppender" />
  </root>
  
  <!--<logger>
   --><!-- Level 2 --><!--
   <level />
   --><!-- Level 3 --><!--
   <appender-ref />
   --><!-- Level 3 --><!--
  </logger>-->
  
  
 </log4net>  
</configuration>